{% extends 'base.html' %} 
{% block content %}
<div class="container" style="width: 28rem; margin: 100px auto;">
    <div class="card">
        <div class="card-header text-white bg-success">ログアウト</div>
        <div class="card-body">
            <p class="card-text">無事にログアウトが完了しました。</p>
            <p class="card-text">ご利用ありがとうございました。</p>
            <p class="card-text text-center"><a class="btn btn-success" href="../accounts/login.html" role="button">もう一度ログイン</a></p>
        </div>
    </div>
</div>
{% endblock %}