{% extends 'base.html' %}
{% block content %}
<div class="container" style="width: 28rem; margin: 100px auto;">
    <div class="card">
        <div class="card-header text-white bg-success">パスワード変更結果</div>
            <div class="card-body">
                <p class="card-text">パスワードを変更しました。</p>
                <p class="card-text text-center">
                    <a class="btn btn-success" href="{% url 'accounts:login' %}">ログイン</a>
                </p>
            </div>
    </div>
</div>
{% endblock %}