{% extends 'base.html' %}
{% block content %}
<div class="container" style="width: 20rem; margin: 100px auto;">
<form class="card" action="" method="POST">
    <div class="card-header text-center text-white bg-success">パスワード変更</div>
    {{ form.non_field_errors }}
    <div class="card-body">
        {% for field in form %}
        <p class="card-text">
            <label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
            {{ field }}
            {{ field.errors }}
        </p>
        {% endfor %}
        <p class="card-text text-center">
            <button type="submit" class="btn btn-success">パスワード変更</button>
        </p>
    </div>
    {% csrf_token %}
</form>
{% endblock %}