{% extends "base.html" %}

{% block content %}
    {% if user.is_authenticated %}
    {% csrf_token %}
    <div class="container" style="width: 36rem; margin: 100px auto;">
        <div class="card">
            <div class="card-header text-white bg-success">{{ kintaibo_date_month }}月勤怠簿</div>
            <div class="card-body">
                <p class="card-text">スタッフ名：{{ user }}さん</p>
                <table class="table table-hover table-striped">
                    <thead class="table-dark text-center">
                        <tr>
                            <th scope="col">日付</th>
                            <th scope="col">曜日</th>
                            <th scope="col">就業場所</th>
                            <th scope="col">出勤</th>
                            <th scope="col">退勤</th>
                            <th scope="col">休憩</th>
                            <th scope="col">戻り</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            {% for day in date_list %}
                            <td>{{ day }}</td>
                            <td>{% if day.weekday == 0 %}月
                                {% elif day.weekday == 1 %}火
                                {% elif day.weekday == 2 %}水
                                {% elif day.weekday == 3 %}木
                                {% elif day.weekday == 4 %}金
                                {% elif day.weekday == 5 %}土
                                {% elif day.weekday == 6 %}日
                                {% endif %}
                            </td>
                            <td>
                                {% if kintaibo_place.place == 1 %}NES Tokyo
                                {% elif kintaibo_place.place == 2 %}Dest A
                                {% elif kintaibo_place.place == 3 %}Dest B
                                {% elif kintaibo_place.place == 4 %}Dest C
                                {% endif %}
                            </td>
                            <td>
                                {% for syukkin in kintaibo_in_time %}
                                {% if syukkin.date == day %}
                                {{ syukkin.time }}
                                {% endif %}
                                {% endfor %}
                            </td>
                            <td>
                                {% for taikin in kintaibo_out_time %}
                                {% if taikin.date == day %}
                                {{ taikin.time }}
                                {% endif %}
                                {% endfor %}
                            </td>
                            <td>
                                {% for kyukei in kintaibo_rest_in_time %}
                                {% if kyukei.date == day %}
                                {{ kyukei.time }}
                                {% endif %}
                                {% endfor %}
                            </td>
                            <td>
                                {% for modori in kintaibo_rest_out_time %}
                                {% if modori.date == day %}
                                {{ modori.time }}
                                {% endif %}
                                {% endfor %}
                            </td>    
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}